body {
  background-color: #1996da;
}

h2 {
  padding-top: 7.5%;
  padding-bottom: 30px;
  color: white;
  font-family: Lato, sans-serif;
  font-size: 230%;
}

.title {
  text-align: center;
}

.container {
  flex-direction: column;
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
  flex-direction: row;
}

.column-full {
  flex-basis: 100%;
}

.column-one-third {
  flex-basis: calc(100% / 3);
  display: flex;
  flex-direction: column;
}

.subtitle,
.small-text {
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  font-family: Lato, sans-serif;
  flex-basis: 100%;
}

.subtitle {
  color: white;
  padding-top: 15px;
  margin-bottom: -1.5rem;
  font-size: 120%;
  letter-spacing: 0.08rem;
}

.small-text {
  color: #dbdcdd;
  width: 82%;
  margin-left: auto;
  margin-right: auto;
  line-height: 140%;
}

div.img {
  display: flex;
  justify-content: center;
  background-color: white;
  border-radius: 50%;
  margin: auto;
  border: 2.8rem solid;
  border-color: white;
}

img {
  width: 125px;
}
