.shade {
  width: 100%;
  height: 100%;
  background-color: black;
  position: absolute;
  z-index: 1;
  transition: opacity 0.2s ease-in-out;
}

.shade:hover {
  cursor: pointer;
}

.shade-hidden {
  opacity: 0;
}

.shade-shown {
  opacity: 50%;
}
