.learn-more-wrap {
  width: 100%;
  padding: 4rem 0;
  border-bottom: 3px solid #f0f1f3;
  border-top: 3px solid #f0f1f3;
}

.learn-more {
  width: 80%;
  display: flex;
  margin: auto;
  color: #6e6e6e;
}

.learn-more .col-half {
  display: flex;
  justify-content: center;
}

.learn-more button {
  width: 40%;
}

.learn-more h3 {
  font-size: 2rem;
  margin-bottom: 0;
}

.learn-more h4 {
  font-size: 1rem;
  font-weight: normal;
  margin-top: 0;
}

.button-half {
  display: flex;
  align-items: flex-end;
}

.address-wrap {
  background: #525351;
  color: white;
  border-bottom: 3px solid #f0f1f3;
}

.address {
  width: 80%;
  margin: auto;
  padding: 6rem 0;
  display: flex;
}

.white-logo-wrap {
  width: 10rem;
  display: flex;
  align-items: center;
  padding-bottom: 3rem;
}

.white-logo {
  width: 100%;
}

.address-col {
  display: flex;
  flex-direction: column;
}

.address-col > p {
  margin: 0.15rem;
}

.address-col > h3 {
  margin: 0.75rem 0;
  display: inline;
  font-weight: normal;
  cursor: pointer;
}

.address-col > h2 {
  margin-bottom: 0.75rem;
  margin-top: 0;
}

.col-info {
  width: 50%;
  display: flex;
}

.footer-wrap {
  background: #fafafa;
}

.footer {
  width: 80%;
  margin: auto;
  color: #525351;
  padding: 2rem 0;
}

.footer p {
  margin-right: 1.5rem;
  font-size: 1rem;
  cursor: pointer;
}
