.password-wrap {
  padding-left: 1rem;
}

.password-wrap p {
  font-weight: bold;
}

.error-msg > p {
  font-size: 14px;
  color: #d33131;
}

input {
  border: 3px solid black;
}

.icon {
  padding-left: 1rem;
}
