.App {
  background-color: #1d201f;
}

.body {
  width: 70%;
  margin: auto;
  color: #f1f2eb;
}

.row {
  width: 100%;
  display: flex;
}

.header {
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: end;
  color: #9b6a6c;
  column-gap: 2rem;
}

.header-link {
  cursor: pointer;
  font-size: 1.5rem;
}

.title {
  font-size: 3rem;
}

.sub-title {
  font-size: 1.5rem;
  text-decoration: underline #a4c2a5;
  text-underline-offset: 0.75rem;
}

.info {
  padding-top: 4rem;
  font-size: 1.5rem;
  width: 65%;
}

.circle-bg {
  transform: translate(-50%, -50%);
}
