@font-face {
  font-family: Avenir;
  font-style: normal;
  font-weight: 500;
  src: url('../Avenir.woff2') format('woff2');
}

@font-face {
  font-family: 'Tiempos Headline';
  font-style: normal;
  font-weight: normal;
  src: url('../TiemposHeadline-Regular.woff2') format('woff2');
}

.home-page {
  width: 100%;
  margin: auto;
  font-family: Avenir;
}

.row {
  display: flex;
  width: 100%;
}

.col-half {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.logo-wrap-header {
  width: 10rem;
  display: flex;
  align-items: center;
}

.logo-blue {
  width: 100%;
}

.pointer {
  cursor: pointer;
}

.image-section {
  display: flex;
  justify-content: center;
  padding: 5rem 0;
}

.hero-img-wrap {
  width: 80%;
  height: 36rem;
  position: relative;
}

.img-covering {
  position: absolute;
  background: black;
  opacity: 25%;
  width: 100%;
  height: 100%;
}

.hero-img {
  width: 100%;
  object-fit: cover;
}

.text-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 10%;
  left: 5%;
}

.col-sixty {
  width: 45%;
  color: white;
}

.hero-title {
  font-size: 2.5rem;
  margin-bottom: 0;
  font-weight: normal;
}

.tiempos {
  font-family: 'Tiempos Headline';
}

.hero-info {
  line-height: 1.75rem;
  margin-bottom: 2rem;
}

.hero-button {
  background-color: #294464;
  color: white;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  padding: 1rem 3rem;
  height: 4rem;
  border: 1px solid #294464;
}

.clinicians-wrap {
  background: #fafafa;
  color: #6e6e6e;
  padding-bottom: 6rem;
}

.clinicians {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: auto;
}

.clinicians > h2 {
  padding-top: 4rem;
  font-size: 2rem;
  margin: 0;
}

.clinicians > h3 {
  width: 40%;
  text-align: center;
  font-weight: normal;
  padding-bottom: 3rem;
}

.locations > div {
  display: flex;
  justify-content: center;
}

.locations h3 {
  font-weight: normal;
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}
