.topic-wrap {
  width: 40%;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.border {
  border: 2px solid black;
}

.topic {
  background-color: #ddd;
}

.topic:hover {
  cursor: pointer;
}

.topic-text,
.details-text {
  padding: 0.5rem;
}

.details-text {
  font-weight: bold;
}

.hidden {
  display: none;
}
